<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
        .imagePreview {
            width: 100%;
            height: 180px;
            background-position: center center;
            background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
            background-color:#fff;
            background-size: cover;
            background-repeat:no-repeat;
            display: inline-block;
            box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
        }
        .btn-primary
        {
            display:block;
            border-radius:0px;
            box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
            margin-top:-5px;
        }
        .imgUp
        {
            margin-bottom:15px;
        }
        .del
        {
            position:absolute;
            top:0px;
            right:15px;
            width:30px;
            height:30px;
            text-align:center;
            line-height:30px;
            background-color:rgba(255,255,255,0.6);
            cursor:pointer;
        }
        .imgAdd
        {
            width:30px;
            height:30px;
            border-radius:50%;
            background-color:#4bd7ef;
            color:#fff;
            box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
            text-align:center;
            line-height:30px;
            margin-top:0px;
            cursor:pointer;
            font-size:15px;
        }

    </style>




    <title>Add Book</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Book Swap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/browse}">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Books</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/signinpage}">Sign In</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/add}">Add Book</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/signout}">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main role="main">

    <span th:text="${@environment.getProperty('upload.path')}"></span>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container ">
            <div class=" text-center justify-content-center">
                <span>Add Book</span><br>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form>
                            <input type="text" placeholder="Search book by name or ISBN" class="form-control" />
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form th:action="@{/addbook}" enctype="multipart/form-data" th:object="${book}" method="post">
                            <!--Need to implement from https://bootsnipp.com/snippets/35D7p -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-5 imgUp">
                                        Front
                                        <div class="imagePreview"></div>
                                        <label class="btn btn-primary">
                                            Upload<input type="file" class="uploadFile img" value="Upload Photo" name="frontimage" accept=".png, .jpg, .jpeg" style="width: 0px;height: 0px;overflow: hidden;">
                                        </label>
                                    </div><!-- col-2 -->
                                    <i class="fa fa-plus imgAdd">+</i>
                                </div><!-- row -->
                            </div>

                            <div class="form-group">
                                <input type="text" th:field="*{bookname}" class="form-control" placeholder="Book name" id="bfname">
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{booknameinbangla}"  class="form-control" placeholder="Book name in Bangla" id="ufname">
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{bookauthor}"   class="form-control" placeholder="Author name" id="ufname">
                            </div>

                            <div class="form-group">

                                <textarea class="form-control" th:field="*{bookdescription}" id="exampleFormControlTextarea1" placeholder="Book Description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" th:field="*{bookgenres}" >
                                    <option value="Genre" selected="selected">Genre</option>
                                    <option th:each="genre:${genrelist}" th:value="${genre.getGenre_id()}" th:text="${genre.getName()}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" th:field="*{bookcondition}">
                                    <option th:value="0">Condition</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" th:field="*{booklang}">
                                    <option value="0" selected="selected">Language</option>
                                    <option th:each="ln:${languages}" th:value="1" th:text="${ln}">2</option>
                                </select>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" th:field="*{avl_to_buy}"type="checkbox" id="inlineCheckbox1"  >
                                <label class="form-check-label" for="inlineCheckbox1">For Sell</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" th:field="*{avl_to_lend}" type="checkbox" id="inlineCheckbox2" >
                                <label class="form-check-label" for="inlineCheckbox2">For Share</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" th:field="*{freebook}" type="checkbox" id="inlineCheckbox3"  >
                                <label class="form-check-label" for="inlineCheckbox3">Free</label>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Price in BDT" id="ufname">
                            </div>

                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>

            </div>


        </div>

    </div>








    <footer class="bg-light page-footer text-center text-lg-start mt-auto ">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>



</main>




<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="js/jquery-3.5.1.min.js" ></script>
<script src="js/bootstrap.bundle.min.js"></script>



<script>
    $(".imgAdd").click(function(){
        $(this).closest(".row").find('.imgAdd').before('<div class="col-lg-5 imgUp">Page<div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
    });
    $(document).on("click", "i.del" , function() {
        $(this).parent().remove();
    });
    $(function() {
        $(document).on("change",".uploadFile", function()
        {
            var uploadFile = $(this);
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test( files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function(){ // set image data as background of div
                    //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                    uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url("+this.result+")");
                }
            }

        });
    });
</script>

</body>
</html>
