
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<title>Sign In</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="#">Book Swap</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				  <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/}">Home
                     <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link  active" th:href="@{/browse}">Browse</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="#">My Books</a>
                  </li>
                  <li class="nav-item" sec:authorize="isAnonymous()">
                     <a class="nav-link" th:href="@{/signuppage}">Sign Up</a>
                  </li>
                  <li class="nav-item" sec:authorize="isAnonymous()">
                     <a class="nav-link" th:href="@{/signinpage}">Sign In</a>
                  </li>
                  <li class="nav-item" sec:authorize="isAuthenticated()">
                     <a class="nav-link" th:href="@{/add}">Add Book</a>
                  </li>
                  <li class="nav-item" sec:authorize="isAuthenticated()">
                     <a class="nav-link" th:href="@{/signout}">Sign Out</a>
                  </li>
               </ul>
			</div>
		</div>
	</nav>

	<main role="main"> <!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">

			<div class="row justify-content-center">

				<div class="login-form">
					<form th:action="@{/signup}" method="post" th:object="${user}">
						<h2 class="text-center">Sign Up</h2>
						<div class="text-center social-btn">
							<a th:href="${facebookloginurl}" class="btn btn-primary btn-block"><i
								class="fa fa-facebook"></i> Sign Up with <b>Facebook</b></a> <a
								th:href="${googleloginurl}" class="btn btn-danger btn-block"><i
								class="fa fa-google"></i> Sign Up with <b>Google</b></a>
								<a
								th:href="${githubloginurl}" class="btn btn-success btn-block"><i
								class="bi bi-github"></i> Sign Up with <b>Github</b></a>
						</div>
						<div class="or-seperator">
							<i>or</i>
						</div>


						<div class="form-group">
							<input type="text" class="form-control" placeholder="UserId"
								th:field="*{userid}"> <span class="error"
								th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}">Validation error</span>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name"
								th:field="*{firstname}"> 
								<span class="error" th:if="${#fields.hasErrors('firstname')}"
								th:errors="*{firstname}">Validation error</span>
						</div>


						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name"
								th:field="*{lastname}"> 
								<span class="error" th:if="${#fields.hasErrors('lastname')}"
								th:errors="*{lastname}">Validation error</span>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email"
								th:field="*{uemail}">
								<span class="error" th:if="${#fields.hasErrors('uemail')}"
								th:errors="*{uemail}">Validation error</span>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="District"
								th:field="*{district}">
						</div>

						<div class="form-check">
							<label class="form-check-label"> <input type="radio"
								class="form-check-input" value="0" th:field="*{gender}">
								Male
							</label>
						</div>

						<div class="form-check">
							<label class="form-check-label"> <input type="radio"
								class="form-check-input" value="1" th:field="*{gender}">
								Female
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label"> <input type="radio"
								class="form-check-input" value="2" th:field="*{gender}">
								Other
							</label>
						</div>

						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Password" th:field="*{password}">
								<span class="error" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">Validation error</span>
								
						</div>
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Confirm Password" th:field="*{confirmpassword}">	
						   <span class="error" th:if="${#fields.hasErrors('confirmpassword')}"
								th:errors="*{confirmpassword}">Validation error</span>
								
						</div>

                        <span class="error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></span>
                         <br>

						<button type="submit" class="btn btn-primary">Sign Up</button>



					</form>
					<div class="hint-text">
						Already have an account? <a th:href="@{/signinpage}" class="text-success">Sign
							In!</a>
					</div>
				</div>
			</div>
		</div>
	</div>





	<!-- Grid container --> <footer
		class="bg-light page-footer text-center text-lg-start mt-auto ">
		<!-- Grid container -->
		<div class="container p-4">
			<!--Grid row-->
			<div class="row">
				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>

					<ul class="list-unstyled mb-0">
						<li><a href="#!" class="text-dark">Link 1</a></li>
						<li><a href="#!" class="text-dark">Link 2</a></li>
						<li><a href="#!" class="text-dark">Link 3</a></li>
						<li><a href="#!" class="text-dark">Link 4</a></li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase mb-0">Links</h5>

					<ul class="list-unstyled">
						<li><a href="#!" class="text-dark">Link 1</a></li>
						<li><a href="#!" class="text-dark">Link 2</a></li>
						<li><a href="#!" class="text-dark">Link 3</a></li>
						<li><a href="#!" class="text-dark">Link 4</a></li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>

					<ul class="list-unstyled mb-0">
						<li><a href="#!" class="text-dark">Link 1</a></li>
						<li><a href="#!" class="text-dark">Link 2</a></li>
						<li><a href="#!" class="text-dark">Link 3</a></li>
						<li><a href="#!" class="text-dark">Link 4</a></li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase mb-0">Links</h5>

					<ul class="list-unstyled">
						<li><a href="#!" class="text-dark">Link 1</a></li>
						<li><a href="#!" class="text-dark">Link 2</a></li>
						<li><a href="#!" class="text-dark">Link 3</a></li>
						<li><a href="#!" class="text-dark">Link 4</a></li>
					</ul>
				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2)">
			© 2020 Copyright: <a class="text-dark"
				href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer> </main>




	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>


</body>
</html>
